<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour.dao.tour-mapper">
	<select id="tourContent" resultType="Tour" parameterType="int">
		SELECT pno,pname,psubname,category,course,time,info,pinfo,price,pic FROM product WHERE pno=#{pno}
	</select>
	<select id="tourCategory" resultType="String">
	 SELECT category FROM product
	</select>
	<sql id="info">
	  SELECT pno,pic FROM product
	</sql>
	<select id="tourList" resultType="Tour">
		<include refid="info"/>
	</select>
	<select id="categoryList" resultType="Tour" parameterType="String">
		<include refid="info"/>
		WHERE category=#{category}
	</select>
	<!-- 추가(예약) user-->
   <insert id="buyInsert" parameterType="Buy">
    <selectKey keyProperty="buyno" resultType="int" order="BEFORE">
      SELECT NVL(MAX(buyno)+1,1) as buyno FROM buy
    </selectKey>
    INSERT INTO buy(buyno,id,pno,pname,amount,rdate,price) 
    VALUES(#{buyno},#{id},#{pno},#{pname},#{amount},#{rdate},#{price})
   </insert>
   <!-- 추가(예약) admin-->
   <insert id="adminInsert" parameterType="Admin">
    <selectKey keyProperty="buyno" resultType="int" order="BEFORE">
      SELECT NVL(MAX(buyno)+1,1) as buyno FROM admin
    </selectKey>
    INSERT INTO admin(buyno,id,pno,pname,amount,rdate,price) 
    VALUES(#{buyno},#{id},#{pno},#{pname},#{amount},#{rdate},#{price})
   </insert>
   <!--mypage(출력)-->
    <select id="buyUserAllData" resultType="Buy" parameterType="String">
      SELECT * FROM buy
      WHERE id=#{id}
    </select>
   <!--admin(출력)-->
    <select id="buyAdminAllData" resultType="Admin">
      SELECT * FROM admin
    </select>
   <!-- user 예약상태변경 -->
    <update id="userReserveOk" parameterType="int">
     UPDATE buy SET
     status=1
     WHERE buyno=#{buyno}
    </update>
   <!-- user 예약상태변경 -->
    <update id="adminReserveOk" parameterType="int">
     UPDATE admin SET
     status=1
     WHERE buyno=#{buyno}
    </update>
</mapper>