<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.squre.dao.squre-mapper">
	<insert id="squreInsert" parameterType="Squre">
		INSERT INTO squreMain(no,userId,content,subject,sex)
		VALUES((SELECT NVL(MAX(no)+1,1) FROM squreMain),
			#{userId},#{content},#{subject},#{sex})
	</insert>
	<select id="squreAllData" resultType="Squre">
		SELECT no,userId,sex,subject,content,hit,regdate
		FROM squreMain ORDER BY no DESC
	</select>
	<select id="reviewAllData" resultType="Review">
		SELECT id,rootNo,no,sex,content,regdate,hit
		FROM reSqure ORDER BY no ASC
	</select>
	<insert id="reInsert" parameterType="Review">
		INSERT INTO reSqure(no,id,rootNo,sex,content)
		VALUES((SELECT NVL(MAX(no)+1,1) FROM reSqure),
		#{id},#{rootNo},#{sex},#{content})
	</insert>
	<delete id="squreDelData" parameterType="int">
	    DELETE FROM squreMain
	    WHERE no=#{no}
  	</delete>
  	<delete id="reviewDelData" parameterType="int">
	    DELETE FROM reSqure
	    WHERE no=#{no}
  	</delete>
  	<select id="squreSelectData" resultType="Squre" parameterType="String">
  		SELECT no,userId,sex,subject,content,hit,regdate
		FROM squreMain ORDER BY no DESC
		WHERE subject=#{subject}
  	</select>
</mapper>