@CHARSET "EUC-KR";

.gwd-map-12 {
     position: absolute;
     height: 468px;
     left: 0px;
     top: 177px;
     width: 1280px;
}

body {
	background:
		url("http://www.tdrip.com/files/attach/images/104710/820/235/003/f79d2ba2d6f85e4821b5c5ac81db086b.jpg");
}