<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flamember.dao.member-mapper">
	<!-- ID 체크 -->
	<select id="memberIdCount" resultType="int" parameterType="String"> <!-- 아이디가 들어가고 몇갠지 세어져서 나오니..  -->
		SELECT COUNT(*) FROM userinform
		WHERE id=#{id}
		</select>
	<select id="memberGetPwd" resultType="Member" parameterType="String">
		SELECT pwd,name,admin FROM userinform
		WHERE id=#{id}
	</select> 
	
	<insert id="memberJoin" parameterType="Member">
	  	<selectKey keyProperty="id_no" resultType="int" order="BEFORE">
	  		SELECT NVL(MAX(id_no)+1,1) as id_no FROM userinform
	  	</selectKey>
  INSERT INTO userinform(id,pwd,id_no,sex,name,tel,email,birth,regdate,logcount)
  VALUES(#{id},#{pwd},#{id_no},#{sex},#{name},#{tel},#{email},#{birth},SYSDATE,0)		     
	</insert>
</mapper>
