<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flamember.dao.member-mapper">
	<!-- ID 체크 -->
	<select id="memberIdCount" resultType="int" parameterType="String"> <!-- 아이디가 들어가고 몇갠지 세어져서 나오니..  -->
		SELECT COUNT(*) FROM userinform
		WHERE id=#{id}
		</select>

	<select id="memberGetPwd" resultType="Member" parameterType="String">
		SELECT pwd,name,admin_no,sex FROM userinform
		WHERE id=#{id}
	</select> 
	
	<insert id="memberJoin" parameterType="Member">
	  	<selectKey keyProperty="id_no" resultType="int" order="BEFORE">
	  		SELECT NVL(MAX(id_no)+1,1) as id_no FROM userinform
	  	</selectKey>
  <!-- INSERT INTO userinform(id,pwd,id_no,sex,name,tel,email,birth,regdate,logcount)
  VALUES(#{id},#{pwd},#{id_no},#{sex},#{name},#{tel},#{email},#{birth},SYSDATE,0) -->
  
  INSERT INTO userinform(id,pwd,id_no,sex,name,tel,email,birth,regdate,logcount)
  VALUES(#{id},#{pwd},#{id_no},#{sex},#{name},#{tel},#{email},#{birth},SYSDATE,0)			     
	</insert>
	<!-- <select id="findStay" resultType="int" parameterType="String">
	SELECT COUNT(*) FROM rcity
	WHERE name=#{name}
	</select> -->
	
	<select id="memberInfo" resultType="Member" parameterType="String">
	SELECT name,sex,birth FROM userinform
	WHERE id=#{id}
	</select>
	
	<select id="myInfodata" resultType="Member" parameterType="String">
	SELECT sex,name,tel,email,birth,PROFILE_PICTURE FROM userinform
	WHERE id=#{id}
	</select>
	
	<insert id="uploadprofile" parameterType="Member">
	INSERT INTO userinform PROFILE_PICTURE VALUES #{filename} WHERE id=#{id}
	</insert>
</mapper>
